@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  --white-clr: #fff;
  --dark-blue-clr: #151048;
  --crystal-waters-clr: #40e0d0;
  --gray-clr: #474747;
  --white-gray-clr: #d3d3d3;
  --light-blue-clr: #c2deea;
  --dark-gray-clr: #272626;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}
