.card-footer-btn {
  background-color: var(--dark-blue-clr);
  color: var(--white-gray-clr);
  font-weight: 700;
  font-size: 14px;
  border: 0;
  border-radius: 25px;
  padding: 15px 50px;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.card-footer-btn:hover {
  transform: scale(1.05);
}

@media screen and (min-width: 600px) {
  .card-footer-btn {
    font-size: 16px;
  }
}
